/*MEDIA QUERIES*/

/*GENERAL STYLE*/
html{
  font-size: 18px;
  font-family: Helvetica;
}

/*HEADER/LOGO/BANNER/MAIN IMAGE/FLEXCONTAINER*/

.FLEXCONTAINER1{
  display: flex;
  background-image: url(../glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
}

.headercontainer{
  display: flex;
  width: 960px;
  height: 1rem;
  margin-top: 1rem;
  margin-left: 520px;
  background-color: cadetblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.headerimg{
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}

.headercap{
  padding-right: 2rem;
  color: white;
  margin-left: 400px;
}

.headertitle{
  color: white;
  align-items: left;
}

/*THREE OPTIONS/FLEXCONTAINER*/

.FLEXCONTAINER-ICONS{
  display: flex;
  width: 960px;
  height: 4rem;
  margin-left: 520px;
  margin-top: 3rem;
  justify-content: space-around;
}

.ICON-IMAGES{
  display: inline-block;
}

.PAPERICON{
  width: 3.5rem;
  margin-right: 6rem;

}
.RULERICON{
  width: 5rem;
  margin-right: 6rem;
}
.TRUCKICON{
  width: 5rem;
}

.FLEXCONTAINER-CAPTIONS{
  display: flex;
  width: 960px;
  height: 4rem;
  margin-left: 520px;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.ICON-CAPTIONS{
  display: inline-flex;
  align-items: center;
}

/*PHILOSOPHY/APPOINTMENTS/FLEXCONTAINER*/

.FLEXCONTAINER-PHIL-APP{
  display: flex;
  width: 960px;
  margin-left: 520px;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.APP-ITEM{
  display: inline-block;
}

.APP{
  width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.FLEXCONTAINER-PHIL-APP-PAR{
  display: flex;
  width: 960px;
  margin-left: 520px;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.PAR-ITEM{
  display: inline-block;
}

.PAR{
  width: 35%;
}

/*FOOTER/FLEXCONTAINER*/

.FLEXCONTAINER-FOOT{
  display: flex;
  margin-top: 5rem;
  font-size: 1rem;
  width: 960px;
  margin-left: 520px;
  background-color: azure;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-top: 4rem;
  text-align: center;
}

.footercontainer{

}

.footerimg{
  display: inline-block;
  height: 1.5rem;
  padding-right: 1rem;
}
.footercap{
  display: inline-block;
}
